# Dependencies
node_modules/
__pycache__/
*.pyc
.env
.env.local
.env.production

# Build
dist/
build/
*.o
*.exe
*.out


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
.gitignore
code.jpeg

# Logs
*.log
npm-debug.log*
